<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
<main class="delete-page">
    <div class="delete-page-wrapper">
        <p>Your Facebook chat has been removed from database</p>
        <p>Would you like to try some other chat?</p> 
        <button><a href="{% url 'index' %}">yes</a></button>
    </div>
</main>

</body>
</html>