{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="tutorial-container">
        <article class="first-article">
            <h3>Step by step: How to download Facebook Messenger Chat</h3>
            <p>Follow these steps to get a copy of your Facebook Messenger Chat</p>
        </article>
        <article>
            <div class="article-content">
                <h3>Step 1</h3>
                <p>Login to your <strong>Facbook account</strong> and click on a triangle in the right-top corner of your screen <strong>(1)</strong>. Choose your <strong>Settings (2)</strong>  and next, click on <strong>Your Facebook Information</strong> (3) </p>                
            </div>
            <div class="article-image">
                <img src="{% static 'images/fb_down_1.webp' %}" alt="how-to-download-facebook-messenger-picture-1">
            </div>
        </article>
        <article>
            <div class="article-content">
                <h3>Step 2</h3>
                <p>On this page you can select data you want to download from Facebook. You want to download only Facebook Messenger content so <strong>Deselect All</strong> and than mark Messages box (1). Mark type of file you want to download, choose <strong>JSON</strong> type and clik <strong>Create File</strong>(3).</p>
            </div>
            <div class="article-image">
                <img src="{% static 'images/fb_down_2.webp' %}" alt="how-to-download-facebook-meesenger-picture-2">
            </div>
        </article>
        <article>
            <div class="article-content">
                <h3>Step 3</h3>
            <p>Once your chats are ready (this process can take until 24h) you get <strong>notification</strong> (3) on your Facebook Page and you click on <strong>Available Copies</strong>  and you can <strong>download</strong> (3) your Facebook Messenger Chat </p>
            
            </div>
            <div class="article-image">
                <img src="{% static 'images/fb_down_3.webp' %}" alt="how-to-download-facebook-meesenger-picture-3">
            </div>
            
        </article>
        <article>
            <div class="article-content">
                <h3>Step 4</h3>
                <p>When you have downloaded your facebook chat archive. You have to unzip it using right mouse button an choosing <strong>Extract Here</strong>. After extracting process you will get folder named <strong>messages</strong>.</p>
            </div>
            <div class="article-image">
                <img src="{% static 'images/fb_down_4.webp' %}" alt="how-to-download-facebook-meesenger-picture-4">
            </div>
        </article>
        <article>
            <div class="article-content">
                <h3>Step 5</h3>
                <p>When you open messages folder you will see most likely 5 folders. One of them is going to be <strong>inbox</strong>. In <strong>inbox</strong> folder you will have all messages organise in folders. You can see two kinds of folders. One kind with name contains only small letters shows witch is shown with <strong class="green-arrow">green arrows</strong> and this is where required file is stored. In the folder where name contain capital letter marked with <strong class="red-arrow">red arrows</strong> you can find pictures, gifs used in that conversation.</p>
            </div>
            <div class="article-image">
                <img src="{% static 'images/fb_down_5.webp' %}" alt="how-to-download-facebook-meesenger-picture-5">
            </div>
        </article>
        <article>
            <div class="article-content">
                <h3>Step 6</h3>
                <p>Inside folder where name contain only small letters you will find a file named <strong>message_1.json</strong>  or if you have long conversation it may be more files with numbers. <strong>This is your message file</strong></p>
            </div>
            <div class="article-image">
                <img src="{% static 'images/fb_down_6.webp' %}" alt="how-to-download-facebook-meesenger-picture-6">
            </div>
        </article>

        <a href="{% url 'index' %}" class="backwards-link">Go back and let's upload your facebook messages and analyze it together</a>
    </div>
{% endblock %}