{% extends "base.html" %}
{% load static %}
{% load custom_template_filter %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script defer src="{% static 'js/populate.js' %}"></script>
{% endblock %}
{% block content %}
    <main class="index-main">
        <div class="index-main-wrapper">
            <div class="title-container">
                <h2 class="title-h2">title:</h2><h2>{{title}}</h2>
            </div>
            <div class="charts">
                <div class="chart-container">
                    <div class="canvas-wrapper">
                        <canvas id="myChartMessages" width="200" height="200"></canvas>
                    </div>
                    <div class="legend-wrapper">
                        <table>
                            <thead>
                                <th colspan="2">Messages send by participants</th>
                            </thead>
                            <tbody>
                                {% for user, message in user_messages_list %}
                                <tr>
                                    <td>{{ user }}</td>
                                    <td>{{ message }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="chart-container">
                    <div class="canvas-wrapper even-wrapper">
                        <canvas id="myChartCharacters" width="200" height="200"></canvas>
                    </div>
                    <div class="legend-wrapper">
                        <table>
                            <thead>
                                <th colspan="2">Characters used by participants</th>
                            </thead>
                            <tbody>
                                {% for user, character in user_characters_list %}
                                <tr>
                                    <td>{{ user }}</td>
                                    <td>{{ character }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="chart-container">
                    <div class="canvas-wrapper">
                        <canvas id="myChartWords" width="200" height="200"></canvas>
                    </div>
                    <div class="legend-wrapper">
                        <table>
                            <thead>
                                <th colspan="2">Words used by participants</th>
                            </thead>
                            <tbody>
                                {% for user, word in user_words_list %}
                                <tr>
                                    <td>{{ user }}</td>
                                    <td>{{ word }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="chart-container">
                    <div class="canvas-wrapper even-wrapper">
                        <canvas id="myChartPhotos" width="200" height="200"></canvas>
                    </div>
                    <div class="legend-wrapper">
                        <table>
                            <thead>
                                <th colspan="2">Photos send by participants</th>
                            </thead>
                            <tbody>
                                {% for user, photo in user_photos_list %}
                                <tr>
                                    <td>{{ user }}</td>
                                    <td>{{ photo }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="chart-container">
                    <div class="canvas-wrapper">
                        <canvas id="myChartLinks" width="200" height="200"></canvas>
                    </div>
                    <div class="legend-wrapper">
                        <table>
                            <thead>
                                <th colspan="2">Links send by participants</th>
                            </thead>
                            <tbody>
                                {% for user, link in user_links_list %}
                                <tr>
                                    <td>{{ user }}</td>
                                    <td>{{ link }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>   
                <div class="chart-container">
                    <div class="canvas-wrapper even-wrapper">
                        <canvas id="myChartGifs" width="200" height="200"></canvas>
                    </div>
                    <div class="legend-wrapper">
                        <table>
                            <thead>
                                <th colspan="2">Gifs send by participants</th>
                            </thead>
                            <tbody>
                                {% for user, gif in user_gifs_list %}
                                <tr>
                                    <td>{{ user }}</td>
                                    <td>{{ gif }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div> 
                <div class="stat-container">
                    <div class="reaction">
                        <table>
                            <thead>
                                <th colspan="3">Most common reaction used in chat</th>
                            </thead>
                            <tbody>
                                {% for user, react, number in reaction_list %}
                                <tr>
                                    <td>{{ user }}</td>
                                    <td>{{ number }}</td>
                                    <td>{{ react }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="words-option">
                    <label for="words-select"></label>
                    <select name="words" id="words-select" onchange="populate()">
                        <option value="4 letters">Most common 4-characters words used by participants</option>
                        <option value="5 letters">Most common 5-characters words used by participants</option>
                        <option value="6 letters">Most common 6-characters words used by participants</option>
                        <option value="7 letters">Most common 7-characters words used by participants</option>
                        <option value="8 letters">Most common 8-characters words used by participants</option>
                        <option value="9 letters">Most common 9-characters words used by participants</option>
                        <option value="10 letters">Most common 10-characters words used by participants</option>
                    </select>
                </div>
                <div class="stat-container stats-4-words hide-stat">
                    <table class="word-occurence-table">
                        <thead>
                            <th>user</th>
                            <th>word</th>
                            <th>count</th>
                        </thead>
                        <tbody>
                            {% for x in four_char_words %}
                            <tr>
                                <td rowspan="4"> {{x.0}}</td>    
                                    {% for y in x.1 %}
                                    <tr>
                                        <td>{{ y.word|default_if_none:"-" }}</td>
                                        <td>{{ y.count|default_if_none:"0" }}</td>
                                    </tr>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>       
                </div>
                
                <div class="stat-container stats-5-words hide-stat">
                    <table class="word-occurence-table">
                        <thead>
                            <th>user</th>
                            <th>word</th>
                            <th>count</th>
                        </thead>
                        <tbody>
                            {% for x in five_char_words %}
                            <tr>
                                <td rowspan="4"> {{x.0}}</td>    
                                    {% for y in x.1 %}
                                        <tr>
                                            <td>{{ y.word|default_if_none:"-" }}</td>
                                            <td>{{ y.count|default_if_none:"0" }}</td>
                                        </tr>
                                    {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
                <div class="stat-container stats-6-words hide-stat">
                    <table class="word-occurence-table">
                        <thead>
                            <th>user</th>
                            <th>word</th>
                            <th>count</th>
                        </thead>
                        <tbody>
                            {% for x in six_char_words %}
                            <tr>
                                <td rowspan="4"> {{ x.0 }}</td>    
                                    {% for y in x.1 %}
                                        <tr>
                                            <td>{{ y.word|default_if_none:"-" }}</td>
                                            <td>{{ y.count|default_if_none:"0" }}</td>
                                        </tr>
                                    {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
                <div class="stat-container stats-7-words hide-stat">
                    <table class="word-occurence-table">
                        <thead>
                            <th>user</th>
                            <th>word</th>
                            <th>count</th>
                        </thead>
                        <tbody>
                            {% for x in seven_char_words %}
                            <tr>
                                <td rowspan="4"> {{x.0}}</td>    
                                    {% for y in x.1 %}
                                        <tr>
                                            <td>{{ y.word|default_if_none:"-" }}</td>
                                            <td>{{ y.count|default_if_none:"0" }}</td>
                                        </tr>
                                    {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
                <div class="stat-container stats-8-words hide-stat">
                    <table class="word-occurence-table">
                        <thead>
                            <th>user</th>
                            <th>word</th>
                            <th>count</th>
                        </thead>
                        <tbody>
                            {% for x in eight_char_words %}
                            <tr>
                                <td rowspan="4"> {{x.0}}</td>    
                                    {% for y in x.1 %}
                                        <tr>
                                            <td>{{ y.word|default_if_none:"-" }}</td>
                                            <td>{{ y.count|default_if_none:"0" }}</td>
                                        </tr>
                                    {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
                <div class="stat-container stats-9-words hide-stat">
                    <table class="word-occurence-table">
                        <thead>
                            <th>user</th>
                            <th>word</th>
                            <th>count</th>
                        </thead>
                        <tbody>
                            {% for x in nine_char_words %}
                            <tr>
                                <td rowspan="4"> {{x.0}}</td>    
                                    {% for y in x.1 %}
                                        <tr>
                                            <td>{{ y.word|default_if_none:"-" }}</td>
                                            <td>{{ y.count|default_if_none:"0" }}</td>
                                        </tr>
                                    {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
                <div class="stat-container stats-10-words hide-stat">
                    <table class="word-occurence-table">
                        <thead>
                            <th>user</th>
                            <th>word</th>
                            <th>count</th>
                        </thead>
                        <tbody>
                            {% for x in ten_char_words %}
                            <tr>
                                <td rowspan="4"> {{x.0}}</td>    
                                    {% for y in x.1 %}
                                        <tr>
                                            <td>{{ y.word|default_if_none:"-" }}</td>
                                            <td>{{ y.count|default_if_none:"0" }}</td>
                                        </tr>
                                    {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table> 
                </div>
                
            </div>
            <div class="words-analytics">
                <table>
                    <thead>
                        <th>user</th>
                        <th>messages number</th>
                        <th>words number</th>
                        <th>characters number</th>
                        <th>words pr message</th>
                        <th>characters pr word</th>
                    </thead>
                    <tbody>
                    {% for user in message_statistic %}
                        <tr>
                            <td>{{user.0}}</td>
                            <td>{{user.1}}</td>
                            <td>{{user.2}}</td>
                            <td>{{user.3}}</td>
                            <td>{{user.2|divideby:user.1}}</td>
                            <td>{{user.3|divideby:user.2}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        
    
        <div class="delete">
            <button><a href="{% url 'delete' %}">Delete</a></button>
        </div>
        </div>
    </main>
    
    
    
    {{ users_list|json_script:"users_list" }}
    {{ messages_list|json_script:"messages_list"}}
    {{ characters_list|json_script:"characters_list"}}
    {{ words_list|json_script:"words_list" }}
    {{ photos_list|json_script:"photos_list" }}
    {{ links_list|json_script:"links_list" }}
    {{ gifs_list|json_script:"gifs_list" }}
    {{ charts_colors_list|json_script:"charts_colors_list" }}
    {{ borders_color_list|json_script:"borders_color_list" }}
    
    
    <script src="{% static 'js/charts_display.js' %}"></script>
    
{% endblock %}