body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient( rgb(166, 223, 247), rgba(255,255,255) );
    color: #0c0c0c;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*-------------index-page------------------------*/

nav h1{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
main h2{
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 0.2rem;
}
.index-main{
    display: flex;
    flex-direction: column;
}
.charts{
    display: flex;
    flex-direction: column;
}
p{
    font-size: 1rem;
}
.canvas-wrapper{
    position: relative;
    width: 25%;
}
.chart-container,
.stat-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.canvas-wrapper,
.legend-wrapper{
    margin: 1rem 4rem;
    padding: 1rem;
}
.canvas-wrapper{
    display: flex;
}
.legend-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}
th{
    text-transform: uppercase;
    padding: 0.4rem;
    font-size: 1.5rem;
}
td{
    padding: 0.4rem;
    font-size: 1.5rem;
}
.even-wrapper{
    order: 2;
}
.delete{
    text-align: center; 
    margin: 3rem; 
}
.delete button{
    text-transform: uppercase;
    background-color: #0084ff;
    color: #fff;
    width: 15rem;
    border: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    padding: 1.5rem;
}
.delete button a{
    text-decoration: none;
}
.words-option{
    display: flex;
    justify-content: center;
}
.words-option select{
    margin: 1rem;
    background-color: burlywood;
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.hide-stat{
    display: none;
}
.stats-4-words{
    display: flex;
}
.word-occurence-table{
    border-collapse: collapse;
}.word-occurence-table th, td{
    padding: 0.5rem 2rem;
}
.word-occurence-table,
.word-occurence-table th,
.word-occurence-table td{
    border: 1px solid #0c0c0c;
}
.word-occurence-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specific-word-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.specific-word-form label,input{
    margin: 1rem;
}
.specific-word-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
}
.specific-word-result__user{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}



/*--------------upload-file-form-------------------*/

nav {
    display: flex;
    justify-content: center;
    height: 6rem;
}
nav h1{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 2rem;
}
.facebook-main{
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
section h3{
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 0.1rem;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.chat-container,
.form-container{
    width: 50%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li{
    display: inline-block;
    padding: 1.25rem;
    clear: both;
    border-radius: 2rem;
    margin-top: 1rem;
}
.chat-bot{
    float: left;
    background-color: #dfe3ee;
}
.me{
    float: right;
    background-color: #0084ff;
    color: #fff;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
}
.form-wrapper h4{
    margin: 3rem 1rem;
    letter-spacing: 0.1rem;
}
.form-wrapper h4:first-of-type{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
#upload-button,
#id_file_chat{
    text-transform: uppercase;
    background-color: #0084ff;
    color: #fff;
    width: 15rem;
    border: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
}
footer{
    display: flex;
    justify-content: center;
    height: 4rem;
}
footer p {
    margin-top: 2rem;
}

