body{
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient( rgb(166, 223, 247), rgba(255,255,255) );
    color: #0c0c0c;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*-------------index-page------------------------*/

nav h1{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
main h2{
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 0.2rem;
}
.index-main{
    display: flex;
    justify-content: center;
}
.title-container{
    display: flex;
    justify-content: center;
}
.title-container h2{
    padding: 1rem 0.5rem;
}
.title-h2{
    text-transform: capitalize;
    color: grey;
    font-weight: 200;
}

.charts{
    display: flex;
    flex-direction: column;
}
p{
    font-size: 1rem;
}
.canvas-wrapper{
    position: relative;
    width: 20%;
}
.chart-container,
.stat-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.canvas-wrapper,
.legend-wrapper{
    margin: 1rem 4rem;
    padding: 1rem;
}
.canvas-wrapper{
    display: flex;
}
.legend-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}
th{
    text-transform: uppercase;
    padding: 0.8rem;
    font-size: 1.5rem;
    background-color: rgb(98, 195, 237);
    text-align: center;
}
td{
    padding: 0.8rem;
    font-size: 1.5rem;
    background-color:rgb(140, 211, 242);
    text-align: center;
}
.even-wrapper{
    order: 2;
}
.delete{
    text-align: center; 
    margin: 3rem; 
}
.delete button,
.delete-page-wrapper button{
    text-transform: uppercase;
    background-color: #0084ff;
    color: #fff;
    width: 15rem;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    padding: 1.5rem;
}
.delete button a,
.delete-page-wrapper button a{
    text-decoration: none;
    color: #0c0c0c;
}
.delete button:hover,
.delete-page-wrapper button:hover{
    background-color:  rgb(140, 211, 242);
}
.delete button a:hover,
.delete-page-wrapper button a:hover{
    color: #fff;
}
.words-option{
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}
.words-option select{
    margin: 1rem;
    background-color: rgb(98, 195, 237);
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.hide-stat{
    display: none;
}
.stats-4-words{
    display: flex;
}

.word-occurence-table th, td{
    padding: 0.5rem 2rem;
}

.word-occurence-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specific-word-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.specific-word-form label,input{
    margin: 1rem;
}
.specific-word-result{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
}
.specific-word-result__user{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.words-analytics{
    display: flex;
    margin: 3rem 0rem;
}



/*--------------upload-file-form-------------------*/

nav {
    display: flex;
    justify-content: center;
    height: 6rem;
}
nav h1{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 2rem;
}
.facebook-main{
    display: flex;
    justify-content: center;
}
section{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
section h3{
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 0.1rem;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.chat-container,
.form-container{
    width: 50%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li{
    display: inline-block;
    padding: 1.25rem;
    clear: both;
    border-radius: 2rem;
    margin-top: 1rem;
}
.chat-bot{
    float: left;
    background-color: #dfe3ee;
}
.me{
    float: right;
    background-color: #0084ff;
    color: #fff;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
}
.form-wrapper h4{
    margin: 3rem 1rem;
    margin-bottom: 0;
    letter-spacing: 0.1rem;
}
.form-wrapper h4:first-of-type{
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
#upload-button,
#id_file_chat{
    text-transform: uppercase;
    background-color: #0084ff;
    color: #fff;
    width: 15rem;
    border: none;
    border-radius: 20px;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
}
footer{
    display: flex;
    justify-content: center;
    height: 4rem;
}
footer p {
    margin-top: 2rem;
}
.download-button{
    border: none;
    padding: 0.75rem;
}
.download-button{
    color: #0084ff;
    text-decoration: none;
    font-size: 3.5rem;
}
.download-button i{
    color: #0084ff;
}
.download-button i::before{
    background: transparent;
}
.errorlist li{
    border: 1px solid  #ff0033;
    color: #ff0033 ;
    font-weight: 900;
}
.urgent{
    text-transform: uppercase;
    font-size: 1.5rem;
}

/*-------------------download-page--------------*/
.tutorial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article{
    display: flex;
    width: 80%;
    padding: 4rem 2rem;
    border-bottom: 1px solid lightgray;
}
article p{
    letter-spacing: 0.1rem;
    font-weight: 500;
    padding-right: 1rem;
}
.first-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
}
.first-article h3{
    font-size: 2rem;
    text-align: center;
}
.green-arrow{
    color: rgb(67, 160, 71);
}
.red-arrow{
    color: rgb(254, 22, 67);
}

.article-content{
    width: 50%;
}
.article-image{
    width: 50%;
}
.article-image img{
    width: 100%;
}
.backwards-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #dfe3ee;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 30px;
    background-color: #0084ff;
    padding: 1rem;
    margin: 1rem;
}

/* ------------------------delete-page--------------- */
.delete-page{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.delete-page-wrapper{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}
.delete-page-wrapper p{
    text-transform: uppercase;
    font-size: 2rem;
}
